.head p{
    text-align: right;
}
.head1{
    text-align: center;
    padding:15px;
    border-bottom:solid grey 1px;
}
.head h3{
    /* padding:20px; */
    text-align: left;
}
.head{
     background-color:#c4e4ed ;
}
.head2{
    padding-top:30px;
}
.head2 p{
    text-align: center;
}
.head5{
    border-bottom:solid 1px grey;
    padding-bottom:30px;
}
.from1{
    margin-top:10px;
}
.from1 a:link,.from1 a:visited{
    padding:10px 15px;
    border-radius:5px;
    text-decoration: none;
    background:#117c9b;
    color: #fff;
}
.from{
    padding-top:10px;
    padding-bottom:10px;
}

.from1 a:hover{
    background:#d6dfe2;
    font-weight:500;
    color: #117c9b;
}
.from2 p{
    font-size:20px;
    text-align: left;
    padding-top:15px;
}
.price p{
    text-align: left;
    font-size:20px;
    color: #d6dfe2;
}
.price :link{
    text-decoration: none;
    color: #d6dfe2;
}
.stock p{
    text-align: left;
    font-size:20px;
    color: #d6dfe2;
}
.stock :link{
    text-decoration: none;
}
.head3{
    padding-top:20px;
}
.head3 :hover{
    color: red;
}
.price1{
    border: solid gray 1px;
    background-color: #e5ecee ;
}
.price2 p{
    text-align: left;
    padding-top:30px;
    font-size:20px;
}